<table border="0" bordercolor="#000000" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:0px;margin:1em auto">
<tbody>
<tr>
<td style="width:100px;height:100px">
<div style="display:block;text-align:left">
<div style="display:block;text-align:left"><div style="display:block;text-align:left"><div style="display:block;text-align:left"><a imageanchor="1"><img border="0" src={{ .Get "src" }} /></a></div><div style="display:block;text-align:left"><br /></div></div></div></div>
</td>
<td style="width:536px;height:100px">
<b>
{{ .Get "name" }}</b>
<br />
{{ .Get "desc" }}
</td>
</tr>
</tbody>
</table>